/*** developer tools ***/

@devcolor: #e67e22;

#dev_device { position: absolute; top:10px; right: 10px; left:0; text-transform: uppercase; z-index: 9999; 
    
    .dev-actions {
         text-align:right; width: 100%; 
         a { text-decoration: none; }
         .label { margin-left: 10px; }
    }
    
    .label-device { background-color: @devcolor; padding: 3px; font-size: 11px; color: #fff; }
    .label-sidebar { text-transform: uppercase; background-color: @devcolor; padding: 3px; font-size: 11px; color: #fff; }
}

#dev_viewport { position: absolute; border-top:dotted 2px @devcolor; height: 2px; z-index: 9999; left:0; right:0px;
    
    .label-fold { position: absolute; top: -30px; right: 10px; text-transform: uppercase; background-color: @devcolor; padding: 3px; font-size: 11px; color: #fff; }
} 

#dev_sidebar { position: fixed; width: 300px; background: #444; top:0; right: -300px; bottom: 0; overflow: auto; font-size: .85rem; color: #fff;
}

// sidebar is showing

.dev-notes-anchor { display: none; 
    border-radius: 50%;
	width: 20px;
	height: 20px; 
	background: red;
	text-align: center;
	position: absolute;
	left:-12px;
	top: -12px;
	font-size: 12px;
	line-height: 20px;
}
.dev-sidebar {
    .dev-annotate { background: rgba(194, 151, 66, 0.2); position: relative; }
    .dev-notes-anchor { display: inline-block;}
    
    .note-holder { margin-bottom: 1em; background: rgba(194, 151, 66, 0.2); padding: 1em;
        
        .note-count {
            display:inline-block; 
            border-radius: 50%;
        	width: 20px;
        	height: 20px; 
        	background: red;
        	text-align: center; 
        	font-size: 12px;
        	line-height: 20px; 
        	margin-right: 5px;
        	vertical-align: top;
	    }
	    
	    .note-body { display: inline-block; width: 220px; }
    }
}