{% extends "base.html,base-pjax.html"|pjax:request %}

{% load templatetag_handlebars %}

{% block title %}PJAX Badge List{% endblock %}

{% block content %}

<h2>PJAX Badge List</h2>

<ul id="badge_list" data-last-index='{{last_index}}' style='min-height: 2000px;'>
    
    <!-- django template for above-the-fold -->
    {% for badge in badges %}
    <li>
        <div>{{badge.id}}, {{badge.name}}
        <br/>description: {{badge.description }}</div>
    </li>
    {% endfor %}
    
    <li id="badge_list_loading" style="text-align:center;color:#bbb;font-size:1.25em; list-style: none; margin-top: 20px; padding: 0; margin-left: -40px;">handlebars is now loading...</li>

    
    <!-- handlebars template for below the fold -->
    {% tplhandlebars "tpl-badge-list" %}
    {{ #each badges.results }}
    <li style="color:gray;">
        <div>{{ id }}, {{ name }}
        <br/>description: {{ description }}</div>
    </li>
    {{/each}}
    {% endtplhandlebars %}
    
</ul>



{% endblock %}
