{% extends "base.html,base-pjax.html"|pjax:request %}

{% load templatetag_handlebars %}

{% block title %}PJAX Badge List{% endblock %}

{% block content %}

<h2>PJAX Badge List</h2>

<p>This is a list of content using a REST API. <a href="http://curry.eplt.washington.edu:8001/api/v1/badges">http://curry.eplt.washington.edu:8001/api/v1/badges</a>.</p>
<p>For performance optimization...</p>

<ul style="margin-bottom:2em;">
    <li style="margin-bottom:10px;">Badges 1-30 are handled using the Django view (server-side) and are loaded instantly since it is within the viewport (above the fold optimization).</li>
    <li style="margin-bottom:10px;">Badges 30-100 are loaded via jQuery (client-side) after the initial page has already been rendered.</li>
    <li>Badges 100+ are &quot;lazy-loaded&quot; via jQuery/Handlebars (client-side) when the user scrolls to the bottom of the page.</li>
</ul>

<ul id="badge_list" data-last-index='{{last_index}}'>
    
    <!-- django template for above-the-fold -->
    {% for badge in badges %}
    <li>
        <div>{{badge.id}}, {{badge.name}}
        <br/>description: {{badge.description }}</div>
    </li>
    {% endfor %}
    
    <!-- handlebars template for below the fold -->
    {% tplhandlebars "tpl-badge-list" %}
    {{ #each badges.results }}
    <li style="color:gray;">
        <div>{{ id }}, {{ name }}
        <br/>description: {{ description }}</div>
    </li>
    {{/each}}
    {% endtplhandlebars %}
    
</ul>

<div id="badge_list_loading" style="text-align:center;color:#bbb;font-size:1.25em; list-style: none; margin-top: 20px; padding: 0; margin-left: -40px;display:none;">handlebars is now loading...</div>


{% endblock %}
